psycopg2-binary
dj-database-url
Django==5.2.7
gunicorn
whitenoise
boto3
django-storages
Pillow
django-heroku
requests
python-dotenv
djangorestframework
django-cors-headers
drf-yasg
django-filter
celery
redis