{% extends "base.html" %}
{% block content %}
    <h2>Game List</h2>
    <div class="row">
        {% for game in games %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }}</h5>
                        <p class="card-text">Genre: {{ game.genre }}<br>Release Date: {{ game.release_date }}<br>{{ game.description }}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'game_update' game.pk %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'game_delete' game.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No games found.</p>
        {% endfor %}
    </div>
{% endblock %}